* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

//variable
$background:#eeeeee;
$light-color:white;
$dark-color:black;
$light-blue-color:#d2d5e5;
$dark-blue-color:#3f51b5;
$blue-color:#d1d5ed;
$disable-color:#d5d5d5;
$gray-color:#afafaf;
$tag-name-color1:#00796b;
$light-red-color:#f6c7c7;
$dark-red-color:#d81515;

%button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

%dark-button {
    color: $light-color;
    background-color: $dark-blue-color;
}

%light-button {
    color: $dark-blue-color;
    background-color: $light-blue-color;
}

%disable-button {
    color: rgba($color: $dark-color, $alpha: 0.4);
    background-color: $disable-color;
}